[submodule "ladon-repo"]
	path = ladon-repo
	url = https://bitbucket.org/jakobsg/ladon.git
[submodule "spyne-repo"]
	path = spyne-repo
	url = https://github.com/arskom/spyne.git
[submodule "soapfish-repo"]
	path = soapfish-repo
	url = https://github.com/soapteam/soapfish.git
[submodule "lxml-repo"]
	path = lxml-repo
	url = https://github.com/lxml/lxml.git
