lxml~=4.6.4
#;python_version==3.5
zeep~=4.1.0
SQLAlchemy~=1.4.40
Twisted~=22.4.0
python-dateutil~=2.8.2
ctypescrypto~=0.5
python-odata~=0.5.4
soapfish2~=0.7.2
holidays~=0.30
numpy~=1.24.4
pywin32
pyOpenSSL~=22.0.0
cryptography~=37.0.4
service-identity~=21.1.0
boto3~=1.37.38
